<div class="container-fluid m-0 p-0">
  <div class="row w-100 h-100 mx-auto mt-5">
    <div class="col-12">
      <div class="card mx-auto" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 2em;">ERROR</h5>
          <p class="card-text" style="font-size: 1.5em;">Something was wrong!</p>
          <a href="http://localhost:8080/web/home" class="btn btn-primary">Go home</a>
        </div>
      </div>
    </div>
  </div>
</div>