<div class="container-fluid m-0 p-0">
    <div class="row w-100 h-100">
        <div class="col-6 m-5 mx-auto">
            
            <div class="card p-5 animate__animated animate__fadeIn animate__delay-0.8s" style="width: 100%; height: min-content; background-color: rgba(169, 145, 211, 0.097);">

                <div class="card-body mx-auto">
                    <h1 class="card-title">Join up</h1>

                    <p class="card-text">
                    <form id="registerForm" class="p-3">

                        <div class="mb-3">
                            <label for="firstName" class="form-label" style="font-size: 1.2em;">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                aria-describedby="nameHelp" required>
                            <div id="nameHelp" class="form-text">My name is...</div>
                        </div>

                        <div class="mb-3">
                            <label for="lastName" class="form-label" style="font-size: 1.2em;">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                aria-describedby="lastNameHelp" required>
                            <div id="nameHelp" class="form-text">My last name is...</div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-size: 1.2em;">Email address</label>
                            <input type="email" class="form-control" id="regEmail" name="regEmail"
                                aria-describedby="emailHelp" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="The format of the email that I entered is invalid" required>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label for="age" class="form-label" style="font-size: 1.2em;">Age</label>
                            <input type="number" class="form-control" id="age" name="age" aria-describedby="ageHelp" 
                                pattern="^(?:[2-8][0-9]|1[0-9]|[2-9])$" title="Age must be an integer greater than 1 and less than 90" required aria-required="true">
                            <div id="ageHelp" class="form-text">30</div>
                        </div>

                        <div class="mb-3">
                            <label for="regPassword" class="form-label" style="font-size: 1.2em;">Password</label>
                            <input type="password" class="form-control" id="regPassword" name="regPassword"
                                placeholder="example: 'wMH432595@'" 
                                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" title="Password Must contain at least one uppercase letter [A-Z]). Must contain at least one lowercase letter. Must contain at least one digit. Must contain at least one special character from the set. Must be at least 8 characters long" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label" style="font-size: 1.2em;">Confirm password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                placeholder="example: 'wMH432595@'" 
                                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" 
                                title="Password Must contain at least one uppercase letter [A-Z]). Must contain at least one lowercase letter. Must contain at least one digit. Must contain at least one special character from the set. Must be at least 8 characters long" required aria-required="true">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </p>

                    <a href="/web/auth/login" class="card-link" style="font-size: 1.2em;"> Do you have an account? >>> Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/register.js" type="module"></script>