<div class="container-fluid m-0 p-0">
    <div class="row w-100 h-100">
        <div class="col-5 m-5 mx-auto">

            <div class="card p-5" style="width: 100%; height: min-content; background-color: rgba(169, 145, 211, 0.097);">
                <div class="card-body mx-auto">
                    <h1 class="card-title"><i class="bi bi-gear-fill"></i> Reset Password</h1>
                    
                    <p class="card-text">
                        <form id="newPasswordForm" class="mt-5">

                            <div class="mb-3">
                                <label class="col-form-label col-form-label-md mt-2" for="currentPassword" style="font-size: 1.8em;">Current Password</label>
                                <input type="password" class="form-control form-control-lg h-50" placeholder="current password" id="currentPassword" name="currentPassword" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="newPassword" class="col-form-label col-form-label-md mt-2" style="font-size: 1.8em;">New Password</label>
                                <input type="password" class="form-control form-control-lg h-50" id="newPassword" name="newPassword">
                            </div>

                            <div class="mb-3">
                                <label for="confirmPassword" class="col-form-label col-form-label-md mt-2" style="font-size: 1.8em;">Confirm Password</label>
                                <input type="password" class="form-control form-control-lg h-50" id="confirmPassword" name="confirmPassword">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/updatePassword.js" type="module"></script>